{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academico</title>
    <link rel="stylesheet" type="text/css" href="#">
</head>
<body>
  <h1>Seleccionar Carrera</h1>
	    <div class="container">
			<form method="post">
				{% csrf_token %}
		      <h3>Registrar</h3>
			   <fieldset>
				   <label for="name">Codigo:</label>
                    <input type="number" id="number" name="code">
               </fieldset>
			   <fieldset>
			      <label for="name">Nombre:</label>
                    <input type="text" id="name" name="carrera">
				</fieldset>
				<fieldset>
					<label for="name">Duración:</label>
                    <input type="number" id="date" name="duracion">
				</fieldset>
				<fieldset>
				   <button type="submit" id="contact-submit"
				   data-submit="...Sending">Registrar</button>
				</fieldset>
			<a href="{% url 'menu' %}"></a>
			</form>
		 </div>
         <img src="#">
</body>
</html>