{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academico</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/carrera.css' %}">
</head>
<body>
  <h1>Seleccionar Carrera</h1>
	    <div class="container">
			<form method="post">
				{% csrf_token %}
		      <h3>Registrar</h3>
			   <fieldset>
				   <label for="name">Codigo:</label>
                    <input type="number" id="i1" name="codigo">
               </fieldset>
			   <fieldset>
			      <label for="name">Nombre:</label>
                    <input type="text" id="name" name="nombre">
				</fieldset>
				<fieldset>
					<label for="name">Duración:</label>
                    <input type="number" id="duracion" name="duracion">
				</fieldset>
				<fieldset>
				   <button type="submit" id="contact-submit"
				   data-submit="...Sending">Registrar</button>
					<a href="{% url 'menu' %}"></a>
				</fieldset>
			</form>
		 </div>
         <img src="{% static 'img/fondo.astract.webp' %}" width="100%" height="100%">
</body>
</html>