{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academico</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/curso.css' %}">
</head>
<body>
  <div class="logo logo-main">PROGRAMACION VISUAL 3F</div>
  <h1> Curso</h1>
	    <div class="container">
			<form method="post">
				{% csrf_token %}
		      <h3>Registrar Curso</h3>
			   <fieldset>
				   <label for="name">Codigo:</label>
                    <input type="number" id="codigo" name="codigo">
               </fieldset>
				<fieldset>
					<label for="name">Nombre Estudiante:</label>
                    <input type="text" id="name" name="estudiante">
				</fieldset>
			   <fieldset>
				    <label for="name">Nombre Docente:</label>
				    <input type="number" id="docente" name="docente">
				</fieldset>
				<fieldset>
				   <button type="submit" id="contact-submit"
				   data-submit="...Sending">Guardar</button>
				</fieldset>
	        <a href="{% url 'menu' %}"></a>
			</form>
		 </div>
         <img src="{% static 'img/fondo.astract.webp' %}" width="100%" height="100%">
</body>
</html>