{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academico</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/col1.css' %}">
</head>
<body>
  <h1> Curso</h1>
	    <div class="container">
			<form method="POST">
				{% csrf_token %}
		      <h2>Registrar Curso</h2>
			   <fieldset>
                    <input type="number" placeholder="Codigo" id="codigo" name="codigo">
               </fieldset>
				<fieldset>
                    <input type="text" placeholder="Nombre Estudiante" id="name" name="estudiante">
				</fieldset>
			   <fieldset>
				    <input type="text" placeholder="Nombre Docente" id="docente" name="docente">
				</fieldset>
				<fieldset>
				   <button type="submit" id="contact-submit"
				   data-submit="...Sending">Guardar</button>
					<a href="{% url 'menu' %}"></a>
				</fieldset>
			</form>
		 </div>
</body>
</html>