{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academico</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estudiante.css' %}">
</head>
<body>
        <div class="logo logo-main">PROGRAMACION VISUAL 3F</div>
        <h1>Lista Estudiantil</h1>
	    <div class="container">
			<form method="post">
				{% csrf_token %}
		      <h3>Registrar</h3>
			  <h4>Datos personales</h4>
				<fieldset>
				   <label for="name">Cedula:</label>
                    <input type="number" id="name" name="cedula">
               </fieldset>
			   <fieldset>
			      <label for="name">Apellidos:</label>
                    <input type="text" id="apellidos" name="Apellidos" class="apellidos">
				</fieldset>
				<fieldset>
					<label for="name">Nombres:</label>
                    <input type="text" id="nombres" name="nombres">
				</fieldset>
				<fieldset>
					<label for="name">Genero:</label>
                    <input type="tel" id="genero" name="genero">
				</fieldset>
				<fieldset>
					<label for="name">Carrera:</label>
                    <input type="text" id="carrera" name="carrera">
				</fieldset>
				<fieldset>
				   <button type="submit" id="contact-submit"
				   data-submit="...Sending">Registrar</button>
					<a href="{% url 'menu' %}"></a>
				</fieldset>
			</form>
		 </div>
</body>
</html>