{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academico</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/col1.css' %}">
</head>
<body>
        <h1>Lista Estudiantil</h1>
	    <div class="container">
			<form method="POST">
				{% csrf_token %}
		      <h3>Registrar</h3>
			  <h4>Datos personales</h4>
				<fieldset>
                    <input type="number" placeholder="Cedula" id="name" name="cedula">
               </fieldset>
			   <fieldset>
                    <input type="text" placeholder="Apellidos" id="apellidos" name="Apellidos" class="apellidos">
				</fieldset>
				<fieldset>
                    <input type="text" placeholder="Nombres" id="nombres" name="nombres">
				</fieldset>
				<fieldset>
                    <input type="tel" placeholder="Genero" id="genero" name="genero">
				</fieldset>
				<fieldset>
                    <input type="text" placeholder="Crrera" id="carrera" name="carrera">
				</fieldset>
				<fieldset>
				   <button type="submit" id="contact-submit"
				   data-submit="...Sending">Registrar</button>
					<a href="{% url 'menu' %}"></a>
				</fieldset>
			</form>
		 </div>
</body>
</html>