{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academico</title>
    <link rel="stylesheet" type="text/css" href="#">
</head>
<body>
        <h1>Lista Estudiantil</h1>
	    <div class="container">
			<form method="post">
				{% csrf_token %}
		      <h3>Registrar</h3>
			  <h4>Datos personales</h4>
			   <fieldset>
				   <label for="name">Cedula:</label>
                    <input type="number" id="cedula" name="cedula">
               </fieldset>
			   <fieldset>
			      <label for="name">ApellidoPaterno:</label>
                    <input type="text" id="Apellidopaterno" name="apellidopaterno">
				</fieldset>
				<fieldset>
				  <label for="name">Segundo Apellido:</label>
                    <input type="text" id="Apellidomaterno" name="apellidomaterno">
				</fieldset>
				<fieldset>
					<label for="name">Nombre:</label>
                    <input type="text" id="name" name="name">
				</fieldset>
				<fieldset>
					<label for="name">Genero:</label>
					<input type="text" id="genero" name="genero" >
				</fieldset>
				<fieldset>
					<label for="name">Carrera:</label>
					<input type="text" id="Carrera" name="carrera">
				</fieldset>
				<fieldset>
				   <button type="submit" id="contact-submit"
				   data-submit="...Sending">Registrar</button>
				</fieldset>
			<a href="{% url 'menu' %}"></a>
			</form>
		 </div>
         <img src="#">
</body>
</html>