{% load static %}
<html>
<head>
    <title>Tabla</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/.css' %}">

</head>
<body>

<form  method="POST">
    <div class="contenedor-filtro">
        <a href="{% url 'menu' %}">About</a>
    </div>
</form>
    <table id="tab">
        <thead>
        <tr>
            <td>Estudiante</td>
            <td class="columnaN">Cedula</td>
            <td class="columnaN">Apellidos</td>
            <td class="columnaN">Nombres</td>
            <td class="columnaN">Genero</td>
            <td class="columnaN">Carrera</td>
            <td class="columnaN">OPCION</td>
        </tr>
        </thead>
        <tbody>
        {% for contact in object_list %}
        <tr>
            <td>{{contact.cedula.nombre}} {{contact.cedula.apellido}}</td>
            <td>{{contact.producto}}</td>
            <td class="filaN">{{contact.cedula}}</td>
            <td class="filaN">{{contact.apellidos}}</td>
            <td class="filaN">{{contact.nombres}}</td>
            <td class="filaN">{{contact.genero}}</td>
            <td class="filaN">{{contact.carrera}}</td>
            <td>
                <a href="{% url 'consulta' contact.id %}">Modificar</a>
            </td>
            <td>
                <a href="{% url 'eliminar' contact.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>