{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academico</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/matricula.css' %}">
</head>
<body>
  <div class="container">PROGRAMACION VISUAL 3F</div>
  <h1>Matricula Estudiantil </h1>
	    <div class="container">
			<form method="post">
				{% csrf_token %}
		      <h3>Registrar</h3>
			  <h4>Datos personales</h4>
			   <fieldset>
				    <label for="name">Cedula:</label>
                    <input type="number" id="cedula" name="cedula">
               </fieldset>
			   <fieldset>
					<label for="name">Apellidos:</label>
                    <input type="text" id="name" name="apellidos">
				</fieldset>
			   <fieldset>
			        <label for="name">Carrera:</label>
                    <input type="text" id="carrera" name="carrera">
				</fieldset>
				<fieldset>
				    <label for="name">Curso:</label>
                    <input type="text" id="curso" name="curso">
				</fieldset>
			    <fieldset>
					<label for="name">Nombre:</label>
                    <input type="text" id="nombre" name="nombre">
				</fieldset>
				<fieldset>
				   <button type="submit" id="contact-submit"
				   data-submit="...Sending">Registrar</button>
				</fieldset>
			<a href="{% url 'menu' %}"></a>
			</form>
		 </div>
         <img src="{% static 'img/fondo.astract.webp' %}" width="100%" height="100%">
</body>
</html>