{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Academico</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/col1.css' %}">
</head>
<body>
  <h1>Matricula Estudiantil </h1>
	    <div class="container">
			<form method="POST">
				{% csrf_token %}
		      <h3>Registrar</h3>
			  <h4>Datos personales</h4>
			   <fieldset>
                    <input type="number" placeholder="Cedula" id="cedula" name="cedula">
               </fieldset>
			   <fieldset>
                    <input type="text" placeholder="Apellidos" id="name" name="apellidos">
				</fieldset>
			   <fieldset>
                    <input type="text" placeholder="Carrera" id="carrera" name="carrera">
				</fieldset>
				<fieldset>
                    <input type="text" placeholder="Curso" id="curso" name="curso">
				</fieldset>
			    <fieldset>
                    <input type="text" placeholder="Nombre" id="nombre" name="nombre">
				</fieldset>
				<fieldset>
				   <button type="submit" id="contact-submit"
				   data-submit="...Sending">Registrar</button>
				</fieldset>
			<a href="{% url 'menu' %}"></a>
			</form>
		 </div>
</body>
</html>