{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
   <div class="container"></div>
   <div class="logo logo-main">PROGRAMACION VISUAL 3F</div>
   <img src="{% static 'img/color.jpg' %}" width="100%" height="10%">
   <h1>Menu Academico</h1>
   <nav>
       <a href="{% url 'carrera' %}">Carrera</a>
       <a href="{% url 'estudiante' %}">Estudiante</a>
       <a href="{% url 'curso' %}">Curso</a>
       <a href="{% url 'matricula' %}">Matricula</a>


    <img src="{% static 'img/fondo.astract.webp' %}" width="100%" height="100%">
       <p>
           Por <span> Carlos Mariscal</span>
    <div class="animation start-home"></div>
       </p>
   </nav>
</body>
</html>