{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
   <div class="container"></div>
   <h1>Menu Academico</h1>
   <nav>
       <a href="{% url 'carrera' %}">Carrera</a>
       <a href="{% url 'estudiante' %}">Estudiante</a>
       <a href="{% url 'curso' %}">Curso</a>
       <a href="{% url 'matricula' %}">Matricula</a>
       <a href="{% url 'lista' %}">Lista</a>
       

       <p1>
    <div class="animation start-home"></div>
       </p1>
   </nav>
</body>
</html>