*{
  margin: 0;
  padding: 0;
}
h1 {
  color: white;
  background-color: #46209e;
  text-align: center;
}
h3 {
  background-color: #46209e;
  text-align: center;
  color: white;
}
fieldset {
  color: white;
  background-color: #46209e;
  width: 10%;
}
fielset input {
  text-align: center;
}