* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
nav {
	margin: 27px auto 0;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 8px;
	font-size: 0;
}

h2{
    text-align: center;
    color: #fff;
}
fieldset {
	text-align: center;
	font-weight: 500;
	color: #fff;
	margin-bottom: 25px;
	background-color: #fff;
}
body {
	font-size: 12px;
	font-family: sans-serif;
	background: #68309a;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
}
h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}
h2 {
    text-align: center;
    color: #fff;
}
h3 {
    text-align: center;
    color: #fff;
}
h4 {
    text-align: center;
    color: #fff;
}
p {
    position: absolute;
    bottom: 20px;
    width: 20%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}
