* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Helvetica;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: Arial;
	background: linear-gradient(25deg, #34495e 50%,
		#2c3e50 50%);
}

.form-body {
	width: 400px;
	min-width: 400px;
	border-radius: 10px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border: solid 1px #9bbab6;
	margin: 10px;
}

.text {
	text-align: center;
	font-size: 2.5;
	font-weight: 500;
	color: #fff;
	margin-bottom: 25px;
}
.form-body input {
	display: inline-block;
	margin: auto;
	height: 40px;
	width: 75%;
	padding-left: auto;
	color: #fff;
	border: 1.5px solid #fff;
	border-radius: 2px;
	font-family: Times New Roman;
	background-color: transparent;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 1ren;
	outline: none;
}

.form-body input[type="contraseña"] {
	margin-top: 20px;
}

::placeholder {
	font-size: 1ren;
	color: rgba(300, 300, 300, 1.5);
}

.form-body input:hover {
	transition: .5s;
	border: 1px solid #2980b9;
	color: ##34e0d8;
}

.form-body button {
	display: inline-block;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	height: 25px;
	width: 78%;
	background: transparent;
	border-radius: 2px;
	cursor: pointer;
	outline: none;
	border: 1px solid #6d8c89;
	transition: all .5s ease;
}

.form-body button:hover {
	color: #2a8dde;
	border: 2px solid #6d22e6;
	background: linear-gradient(#6d22e6, #34e0a7);
}