*{
  margin: 10;
  padding: 10;
}
h1 {
  text-align: center;
  color: black;
}
div {
  color: black;
  text-align: left;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
fieldset {
  text-color: blue;
  text-align: center;
  color: #24a7f2;
  color: white;
  font-weight: bold;
  text-decoration: line;
  font-size: 20px;
  padding: 18px;
  background-color: #46209e;
}
nav a:hover {
  color: #fab52a;
}
p {
  color: blue;
}