*{
  margin: 10;
  padding: 10;
}
h1 {
  text-align: center;
  color: white;
  background-color: black;
}
nav {
  text-color: blue;
  text-align: center;
}
nav a:hover {
  color: #fab52a;
}
p {
  color: blue;
}